<!DOCTYPE html>
<html>

<head>
	<title>Interior Design</title>
	{{>links}}
</head>

<body>
	{{>header}}
	<section class="home">
		<div class="container">
			<div class="row">
				<div class="col-6 ">
					<h1>Interior Design</h1>
					<h3>Showcase.</h3>
					<h4></h4>
				</div>
			</div>
		</div>
	</section>

	<section class="about">
		<div class="container">
			<div class="row">
				<div class=col-6>
					<img src="./images/img1.jpg">
				</div>
				<div class=col-6>
					<img src="./images/img2.jpg">
				</div>
				<div class="row">
					<div class=col-6>
						<img src="./images/img3.jpg">
					</div>
					<div class=col-6>
						<img src="./images/img4.jpg">
					</div>
					<div class="row">
						<div class=col-6>
							<img src="./images/img5.jpg">
						</div>
						<div class=col-6>
							<img src="./images/img6.jpg">
						</div>

					</div>
				</div>

	</section>

	<section class="about-us ">

		<div class="container">
			<div class="row">
				<div class="col-12 ">
					<h2>Services</h2>
					<h4></h4>
					<p>We are a interior design service that focus on what's best for your home and what's best for
						you!<br>

						<br>Some text about our services - what we do and what we offer. We are lorem ipsum consectetur
						adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
						minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
						pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
						mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="about-des">

		<div class="container">
			<div class="row">
				<div class="col-12 ">
					<h2>Designers.</h2>
					<h4></h4>
					<p>The best team in the world.<br>

						<br>We are lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
						et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
						ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
						esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
						sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed
						do eiusmod tempor incididunt ut labore et quis nostrud exercitation ullamco laboris nisi ut
						aliquip ex ea commodo consequat.</p>

					<h5>Our designers are thoughtfully chosen:</h5>
				</div>
			</div>
		</div>
	</section>

	<section class="team">
		<div class="container">
			<div class="row">
				<div class="col-4">
					<div class="card">
						<img src="./images/img7.jpg">
						<div class="class-body">
							<h4>John Doe</h4>

							<h6>CEO & Founder</h6>
							<p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
								elementum</p>

						</div>
					</div>

				</div>

				<div class="col-4">
					<div class="card">
						<img src="./images/img8.jpg">
						<div class="class-body">
							<h4>Jane Doe</h4>

							<h6>Designer</h6>
							<p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
								elementum.</p>

						</div>
					</div>

				</div>


				<div class="col-4">
					<div class="card">
						<img src="./images/img9.jpg">
						<div class="class-body">
							<h4>Mike Ross</h4>

							<h6>Architect</h6>
							<p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
								elementum.</p>

						</div>
					</div>

				</div>

			</div>
		</div>


	</section>
	<section class="pack ">

		<div class="container">
			<div class="row">
				<div class="col-12 ">
					<h2>Packages.</h2>
					<h4></h4>
					<p>Some text our prices. Lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt
						ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure</p>
				</div>
			</div>
		</div>
	</section>

	<section class="about-pack">
		<div class="container">
			<div class="row">
				<div class=col-6>
					<table class="table table ">
						<thead class="thead-dark">
							<th>Basic</th>
						</thead>
						<tbody>
							<tr>
								<td>Floorplanning</td>
							</tr>
							<tr>
								<td>10 hours support</td>
							</tr>
							<tr>
								<td>Photography</td>
							</tr>
							<tr>
								<td>20% furniture discount</td>
							</tr>
							<tr>
								<td>Good deals</td>
							</tr>
							<tr>
								<td>$ 199
									per room</td>
							</tr>
							<tr>
								<td><input type="button" value="Sign Up" class="btn btn-secondary"></td>

							</tr>
						</tbody>

					</table>
				</div>

				<div class=col-6>
					<table class="table table ">
						<thead class="thead-light">
							<th>Pro</th>
						</thead>
						<tbody>
							<tr>
								<td>Floorplanning</td>
							</tr>
							<tr>
								<td>50 hours support</td>
							</tr>
							<tr>
								<td>Photography</td>
							</tr>
							<tr>
								<td>50% furniture discount</td>
							</tr>
							<tr>
								<td>Great deals</td>
							</tr>
							<tr>
								<td>$ 249
									per room</td>
							</tr>
							<tr>
								<td><button class="btn btn-danger">Sign Up</button></td>

							</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>
	</section>

	{{>footer}}
	
	<!-- <section class="footer">
	<div class="container">
		<div class="row">
			<div class=col-10 offset-2>
				<h5>DEsign & Developed by:->......</h5>
			</div>
		</div>
	</div>
</section> -->


</body>

</html>